body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #121212;
    color: white;
    text-align: center;
}

header {
    background: #1e1e1e;
    padding: 35px;
}

nav a {
    color: rgb(142, 160, 240);
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    background: #333;
    border-radius: 5px;
}   

nav a:hover {
    background: #555;
}

.timeline {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    overflow-x: auto;
}

.event {
    width: 220px;
    padding: 15px;
    background: #333;
    border-radius: 8px;
    transition: 0.3s;
}

.event:hover {
    transform: translateY(-10px);
}

  